.container {

  justify-content: center;
  margin: 100px;
}

.btn {
  margin: 10px;
}
.card{
  margin: 20px;
}
.form {
  width: 30%;
  margin: 15px;
  margin-bottom: 50px;
}
.log {
  margin-top: 200px;
  margin-left: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
